body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    padding: 10px;
}

.app h3 {
    margin-top: 0px;
}

.app .block {
    margin-bottom: 30px;
}

.disabled:not(a) {
    opacity: 0.7;
    pointer-events: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.tiny-table tr td {
    border-bottom: 1px solid #e0e0e0;
    height: 30px;
}

.tiny-table th {
    text-align: left;
    height: 30px;
}
